a {
  color: #4ECBC3;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-color: black;
  color: #4ECBC3;
}

li {
  font-size: 1.25rem;
}

p {
  color: #4ECBC3;
  font-size: 1rem;
}

h2
{
  font-size: 1.25rem;
}

.body {
font-size: 3rem;
}

.profilePic
{
  height: 20rem;
  border-radius: 100%;
}

.footer {
  margin-bottom: 0;
  text-align: center;
  color: #4ECBC3;
}
