a {
  color: #4BC1B6;
}

body {
  margin: 0;
  font-family: 'Ubuntu', sans-serif;
  text-align: center;
  background-color: black;
  color: #4BC1B6;
}

li {
  font-size: 1.25rem;
}

p {
  color: #4BC1B6;
  font-size: 1rem;
}

h2 {
  font-size: 1.25rem;
}

.graph {
  width: 25rem;
  border-radius: 10%;
  margin-top: 5rem;
}

.body {
  font-size: 3rem;
}

.profilePic {
  height: 20rem;
  border-radius: 100%;
}

.footer {
  margin-bottom: 0;
  text-align: center;
  color: #4BC1B6;
}

.carousel {
  height: 37.5rem;
}

.carousel-inner {
  width: 70%;
  position: relative;
  left: 15.5%;
}

.car-p {
  margin-top: 5rem;
}

.figures {
  color: #438782;
}

.footer-p {
margin-bottom: 0;
}

@media screen and (max-width: 1030px) {
  .aboutUs {
    font-size: 2.5rem;
  }

  .car-p {
    font-size: 5rem;
  }

  .carousel-inner {
height: 1000px;
  }

  .body {
    height: 1300px;
  }

  #carouselExampleIndicators {
    height: 1050px;
  }

  .nav-link {
    font-size: 2.5rem;
  }

  .footer-p {
    font-size: 2.5rem;
  }
}
